﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/public/styles")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/public/scripts")
</body>
</html>
