﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

label.invalid {
    color: #b94a48;
}

.bool-true {
    color: #b94a48;
}

.bool-false {
    color: #468847;
}

.loading-container {
    background: url("/content/img/ajax-loader.gif") no-repeat center;
}

.opacity-wrapper {
    background: url("/content/img/ajax-loader.gif") no-repeat center;
}

html, head, body, .full-height {
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    padding: 6px 12px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}