﻿@{
    ViewBag.Title = "BackBone";
}
<nav id="header-region" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></nav>
<div class="container body-content full-height">
    <div id="main-region" class="full-height"></div>
</div>
<div id="modal-region" class="modal"></div>
@section scripts
{
    @Scripts.Render("~/public/scripts/backbone")
    <script type="text/javascript">
        $(function () {
            Answer.start();
        });
    </script>
}
