﻿@{
    ViewBag.Title = "Home Page";
}
<nav id="header-region" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></nav>
<div class="container body-content full-height">
    <div id="main-region" class="full-height"></div>
</div>
<div id="modal-region" class="modal"></div>